!!! 5
html
  head
    title #{title}
    meta(charset="utf-8") 
    link(rel="stylesheet", href="/stylesheets/styles.css")
    link(href="/atom.xml", rel="alternate", title="Your Blog", type="application/atom+xml")
  body
    div.wrapper
      header
        h1 
          a(href="/") My amazing flim site
      section
        block content
    footer
      p I'm just a footer. No one ever notices me. 
